.flex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

/* Navbar Component */
.navbar {
  margin: 10px 0;
}

.logo {
  height: 40px;
}

nav {
  justify-content: space-between;
  flex: 1;
  margin-left: 70px;
  height: 40px;
}

li {
  list-style: none;
  margin: 0 20px;
}

a {
  color: hsl(0, 0%, 41%);
  font-size: 0.8rem;
  font-weight: 500;
}

a:hover {
  color: hsl(0, 0%, 8%);
}

.user {
  height: 100%;
  display: flex;
  align-items: center;
}

.user ul {
  height: 100%;
}

.user li {
  height: 100%;
  display: flex;
  align-items: center;
}

.user a {
  padding: 10px 12px;
}

.user a:hover{
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 12px;
}

.dropdown-item {
  background-color: #fff;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  top: 55px;
}

.dropdown-item li {
  margin: 12px;
}

.features {
  opacity: 0;
  transition: 0.7s ease-in-out;
  left: 170px;
}

.company {
  opacity: 0;
  transition: 0.7s ease-in-out;
  left: 330px;
}

.active {
  opacity: 1;
  transition: 0.7s ease-in-out;
}

/* Main Component */

.main {
  justify-content: space-between;
}

.text-section {
  flex: 1;
  margin: 0 auto;

  display: flex;
  /* justify-content: center; */
  align-items: flex-start;
  flex-direction: column;
}

.text-section > div {
  margin: 0 auto;
}

.text h2 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 50px;
}

.text p {
  color: hsl(0, 0%, 41%);
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.2;
}

button {
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);

  font-size: 14px;
  font-weight: 550;

  border-radius: 10px;
  border: 1px solid hsl(0, 0%, 8%);

  padding: 15px 20px;
  margin-top: 30px;

  cursor: pointer;
}

button:hover {
  background-color: transparent;
  color: hsl(0, 0%, 8%);
  font-weight: 600;
}

.brands {
  width: 100%;
  justify-content: space-between;
  margin-top: 50px;
}

 .brands img {
  width: 100%;
  height: 20px;
}

.hero-image {
  flex: 1;
  padding: 20px 80px 80px 20px;
  height: 600px;

  display: flex;
  align-items: center;
  justify-content: center;
  
}

.hero-image .mobile, .menu-bar,.mobile-menu {
  display: none;
}

.hero-image img {
  margin: 0 auto;
  height: 100%;
}

/* Mobile */
@media screen and (max-width: 480px) {
  .navbar {
    justify-content: space-between;
    padding: 0 15px;
  }
  .navbar nav {
    display: none;
  }

  .menu-bar {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: hsl(0, 0%, 98%);

    align-items: flex-start;
    padding: 0 30px;
    width: 230px;
    flex-direction: column;
    transition: 0.5s ease-in-out;
  }

  .menu-bar-hide {
    transition: 0.5s ease-in-out;
    display: none!important;
  }

  .menu-close {
    width: 100%;
    justify-content: flex-end;
    margin: 20px 0;
  }

  .menu-items li{
    margin-bottom: 12px;
    width: 100%;
  }

  .menu-items a {
    font-size: 0.85rem;
  }

  .mobile-user {
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .mobile-user li {
    text-align: center;
    padding: 10px 15px;
  }

  .mobile-user li:nth-child(2) {
    border: 1px solid hsl(0, 0%, 41%);
    border-radius: 10px;
  }

  .company-items, .features-items {
    transition: 1s ease-in-out;
    margin: 20px;
  }

  /* Main */
  .main {
    flex-direction: column-reverse;
    overflow: hidden;
  }

  .hero-image {
    padding: 0;
  }

  .hero-image .mobile, .menu-bar,.mobile-menu {
    display: block;
  }

  .hero-image .desktop {
    display: none;
  }

  .hero-image .mobile {
    width: 100%;
  }

  .text {
    text-align: center;
    margin: 20px 0;
  }

  .text h2 {
    font-size: 3rem;
    margin-bottom: 17px;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    margin-top: 10px;
  }
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
